/* Utils */
.flex {
  display: flex;
}

.flex--col {
  display: flex;
  flex-direction: column; 
}

/* Elements */
.tabletop {
  margin: 5px;
}

.board {

}

.row {
}

.submit-pane {
  width: 26px;
  height: 26px;
  border: 1px solid black;
  margin: 5px;
  background-color: darkgreen;
  margin-right: 20px;
  visibility: hidden;
}

.key-peg-hole {
  width: 26px;
  height: 26px;
  border: 1px solid black;
  margin: 5px;
}

/* Code Pegs */
.code-pegs {
  display: flex;
  justify-content: space-between;
}

.code-peg-hole {
  width: 26px;
  height: 26px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.code-peg-hole.selected {
  border-color: red;
}

.code-peg {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.p-0.code-peg {
  background-color: cyan;
}

.p-1.code-peg {
  background-color: rebeccapurple;
}

.p-2.code-peg {
  background-color: yellow;
}

.p-3.code-peg {
  background-color: orange;
}

.p-4.code-peg {
  background-color: saddlebrown;
}

.p-5.code-peg {
  background-color: green;
}
